html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e866;
  height: 500px;
  width: 100%;
  padding: 25px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  height: inherit;
}

.google-map {
  width: 65%;
  height: inherit;
}

.events-list {
  align-items: center;
}
