html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e866;
  height: 500px;
  width: 100%;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  height: inherit;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
  .google-map {
    display: none;
  }
}

.google-map {
  width: 65%;
  height: inherit;
}
