html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: auto;
  width: auto;
  margin: 20px;
}

/* mobile styles */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.view-picker {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
}

.google-map {
  width: 100%;
  height: 300px;
  display: block;
  margin-bottom: 20px;
}

.locations-list-view {
  width: 100%;
}

.list-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.locations-list {
  width: 98%;
}

.modal-wrapper {
  background-color: #fefefe;
  margin: 15% auto;
  border-radius: 5px;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* desktop styles */

@media screen and (min-width: 765px) {
  .wrapper {
    flex-direction: row;
  }

  .view-picker {
    display: none;
  }

  .google-map {
    width: 70%;
    height: 520px;
    display: block;
  }

  .locations-list-view {
    margin-left: 20px;
    width: 30%;
  }

  .list-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .locations-list {
    width: 95%;
  }

  .modal-wrapper {
    width: 400px;
  }
}

/* conditional styles */

.google-map-mobile-hidden {
  display: none;
}

.list-view-mobile-hidden {
  display: none;
}
