html,
body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Roboto, "Open Sans", Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: auto;
  width: auto;
  /* margin: 20px; */
}

/* mobile styles */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.map-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.reminder-container {
  background-color: #efefef; /* LIGHT_GRAY */
  padding: 60px 30px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reminder-container h2 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.reminder-container p {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 25px;
}

.reminder-button {
  width: 200px;
  margin: 10px;
}

.view-picker {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
}

.google-map {
  width: 100%;
  height: 300px;
  display: block;
  /* margin-bottom: 20px; */
  overflow: hidden;
}

.locations-list-view {
  width: 100%;
}

.list-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.locations-list {
  width: 98%;
}

.modal-wrapper {
  background-color: #fefefe;
  margin: 15% auto;
  border-radius: 5px;
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
}

input {
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

/* desktop styles */

@media screen and (min-width: 765px) {
  .map-wrapper {
    flex-direction: row;
    margin-bottom: 0;
  }

  .reminder-container h2 {
    font-size: 45px;
    line-height: 61px;
  }

  .reminder-container p {
    font-size: 24px;
    line-height: 33px;
  }

  .view-picker {
    display: none;
  }

  .google-map {
    width: 70%;
    height: 520px;
    display: block;
  }

  .locations-list-view {
    margin-left: 20px;
    width: 30%;
  }

  .list-container {
    height: 471px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .locations-list {
    width: 95%;
  }

  .modal-wrapper {
    width: 400px;
  }

  .container-constrain {
    max-width: 1000px;
    margin: 0 auto;
    width: 100% /* Fixes IE11 bugging out and left aligning a flexbox item */
  }
}

/* conditional styles */

.google-map-mobile-hidden {
  display: none;
}

.list-view-mobile-hidden {
  display: none;
}

.react-add-to-calendar__dropdown {
  box-shadow: 0 0 3px darkgray;
  background-color: white;
}

.react-add-to-calendar__dropdown ul {
  list-style-type: none;
  padding: 5px;
  margin: 10px 0;
}

.react-add-to-calendar__dropdown li {
  padding: 0;
}

.react-add-to-calendar__dropdown a {
    color: black;
    text-decoration: none;
    display: block;
}

.react-add-to-calendar__dropdown a:hover {
    background-color: #efefef;
}
