html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  height: 500px;
  width: auto;
  margin: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: inherit;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
  .google-map {
    display: none;
  }
}

.google-map {
  width: inherit;
  height: inherit;
}
